%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Име на киносала
      %th Број на седишта
      -if admin_signed_in?
        %th Опции
  %tbody
    -@theatres.each do |theatre|
      %tr
        %td= theatre.name_cyr
        %td= theatre.seats_count
        -if admin_signed_in?
          %td
            %span= link_to "Промени", edit_theatre_path(theatre)
            %span= link_to "Избриши", theatre_path(theatre), method: 'delete', confirm: "Дали сте сигурни?"

