%section
  %p
    Movie name:
  %p
    =@movie.name
%section
  %p
    Movie year:
  %p
    =@movie.year
%section
  %p
    Short movie description:
  %p
    =@movie.plot
%section
  %p
    Movie director:
  %p
    =@movie.director
%section
  %p
    Movie length:
  %p
    ="#{@movie.length_minutes} mins"
