%h3
  =@movie.name
%section
  %p
    Година:
    =@movie.year
%section
  %p
    Кратка содржина:
    =@movie.plot
%section
  %p
    Жанр:
    -@movie.genres.each do |g|
      =g.name
%section
  %p
    Режисер:
    =@movie.director
%section
  %p
    Времетраење:
    ="#{@movie.length_minutes} минути"
