%h1 Добредојдовте!
%p
  Наше Кино е австриска семејна компанија со долгогодишна традиција. Основана во 1951 година, повеќе од 10 години припаѓала на семејството Ленгхамер, кое било вклучено во нејзиниот развој на почетокот.
  Со 35 локации Наше Кино е присутно во Австрија, Хрватска, Србија, Црна Гора и Италија. Во 230-те сали има приближно 45.000 места за седење. Персоналот од 1.100 вработени годишно генерира вкупен промет од 110 милиони евра.
  Наше Кино беше првиот европски изложувач, кој ги дигитализираше сите хали во 2009 година - повеќе од 50% од сите хали имаат и можност за прикажување на 3D филмови.
  Како иновациски лидер во областа на кино прикажувањето, Наше Кино секогаш ги обезбедува најновите технологии како што се D-Box подвижни места за седење и 3D IMAX театри.
  Оваа компанија има специјални CRM алатки и нуди различни можности за купување на билети (преку интернет, терминалите за билети, мобилни страници и апликации).

%section.middle
  =image_tag 'cinema1.jpg'
%p
  Скопје има голем потенцијал во однос на пазарот на кино. Со новиот Наше Кино, може многу да се прошири филмската програма. Оттука и иновативното кино се враќа со целиот филмски спектар во главниот град на Македонија.
  Наше Кино се одлучи да имплементира кино со 9 сали. Со тој концепт, можно е да има огромна разновидност во програмата, но и голем избор на преводи на филмовите.
  Киното во Скопје ќе ги има сите технички карактеристики на модерно Наше Кино кино. Исто така, за удобноста при гледањето на филмовите нема да се испушти и поголемото растојание помеѓу редовите, удобната широчина на седиштата, стадиумот на седење, што би значело голема видливост од секое седиште и "wall-2-wall" екрани.
  Вкупната инвестиција за развојот на овој проект ќе чини околу 5 милиони евра и ќе отвори околу 35 работни места. Поради многу конструктивната соработка, Наше Кино финализираше долгорочен договор со Skopje City Mall. Заедно ќе се справиме со различни целни групи (семејства, образовни институции, итн.). Целта на оваа австриска компанија е да започне што е можно поблиску со термините на прикажување на филмовите во САД. На среден план, Наше Кино очекува 500.000 кино посетители годишно. Сите кина ќе бидат предводени во партнерство со MCF. Ова партнерство е исто така успешно и во Србија и Црна Гора. За останатите дестинации во Хрватска, Наше Кино има остварено многу блиска соработка со партнерот Continental Film.
