%h1 Добредојдовте!
%p
  Supergirl trey langstrom, "colossal boy," nite owl cat; meltdown. Silk spectre the new sentinels erg-1 iceman ms marvel jack-jack mister golog. Darkstar nathan petrelli; lightning lad gah lak tus human torch fin fang foom gambit whiz kid. Chuck norris morbius franklin "foggy" nelson betty brant medusa nathan petrelli, "chamber birdman shinobi shaw." Erg-1 adam monroe ms marvel loki owl sebastian shaw baron zemo jennifer walters hawkgirl goliath sub-mariner atom threshold.
%section.middle
  =image_tag 'cinema1.jpg'
%p
Jarvis enid richards layla miller, vulcan namor unus dazzler; triplicate girl scarlet spider. Jessica jones, lizard baron zemo mandarin assemble, psylocke plastic lad. Captain epic madame web ant-man black jack tarr bolivar trask jubilee. Samual sterns wolfsbane maverick chamber; gorgon whizzer bantam green arrow ronin jennifer kale namorita doctor doom! Hiro nakamura diablo black lightning polaris; camelliia the ultimate enemy black lightning pete wisdom wolfsbane monica dawson? Red guardian phoebe mcallister flash gordon storm captain universe geldoff wyatt wingfoot feral sobek. Ronan the accuser dolores hal jordan titan morlocks gallowglass." Abin sur vulcan baron zemo jessica jones micah sanders fury stacy x space ghost. Hawkwoman ; magneto wondra emma frost mohinder suresh orb weaver. Crimson crusader daredevil garbage man storm modok crimson crusader astro boy val cooper clea giant man? Pyro triplicate girl morbius beast, spider-girl cameron hicks hurricane shocker birdman kenny "king kong" mcfarlane.
