%p
  Здраво #{@resource.email}!
%p Можеш да го потврдиш твојот email на сметката со линкот подолу:
%p= link_to 'Потврдувам', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
