%p
  Здраво #{@resource.email}!
%p Некој побара линк за промена на вашата лозинка. Промената можете да ја извршите преку линкот подолу:
%p= link_to 'Промени!', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Ако линкот не е побаран од ваша страна, ве молиме, ИГНОРИРАЈТЕ ја оваа порака
%p Вашата лозинка нема да биде промената се додека вие не го отворите линкот погоре и не направите нова.
