%p
  Здраво #{@resource.email}!
%p Вашата сметка е заклучена поради голем број на неуспешни најави
%p Кликнете на линкот подолу за да ја отклучите вашата сметка:
%p= link_to 'Отклучете ја мојата сметка', unlock_url(@resource, :unlock_token => @resource.unlock_token)
