%h3 Нова проекција
=form_for @projection do |f|
  %p
    =f.label :movie, "Одберете филм"
    =f.collection_select :movie_id, Movie.all, :id, :name
  %p
    =f.label :theatre, "Одберете кино сала"
    =f.collection_select :theatre_id, Theatre.all, :id, :name_cyr
  %p
    =f.label :projection_date, "Датум на проекцијата"
    =f.text_field :projection_date, class: 'datepicker'
  %p
    =f.label :projection_time, "Време на проекцијата"
    =f.text_field :projection_time, class: 'timepicker'
  %p
    =f.submit "Внеси"
